[2020-12-31 09:13] fave77 opened #4 "Make the homepage carousel responsive and readable"
**Describe the bug** :bug:
The carousel seems to be non-responsive on smaller form factors and tends to overflow from the viewport. The quote isn't readable due to it being overlaid onto the image.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to the homepage

**Expected behavior** :honeybee:
A responsive carousel card that consists of the image at the top and a quote at the botto

[2020-12-31 09:27] fave77 opened #5 "Make a footer for the homepage"
**Is your feature request related to a problem? Please describe.** :bulb:
Not necessarily.

**Describe the solution you'd like** :sparkles:
A footer component that renders the following three items:
- Made with ❤️ for the chess community
- [GPLv3 License](https://www.gnu.org/licenses/gpl-3.0.en.html) (links to the license page)
- [Support Us](https://github.com/fave77/pbchess) (links back to this

[2020-12-31 09:54] fave77 opened #6 "Include a link to the /register page from the login card"
**Is your feature request related to a problem? Please describe.** :bulb:
Not necessarily, but it does increase user experience.

**Describe the solution you'd like** :sparkles:
Modify the login card to include a link to the /register page like so:
![image](https://drive.google.com/uc?export=view&id=1nVKK988ZKHckPbv2gnYhWSemM0vK5_b-)

**Describe alternatives you've considered** :star2:
NA

**Addit

[2020-12-31 13:27] fave77 opened #7 "Fix unit test for rendering component"
**Describe the bug** :bug:
Currently, `Navbar`, `Profile`, `Lobby`, and `PrivateRoute` components are throwing error for the unit test - **renders without crashing**!

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to `/client/src/test/App.test.js`
2. Uncomment the commented lines
3. Run `npm test` inside the **client** folder
4. Check the error message

**Expected behavior** :honey

[2020-12-31 13:57] fave77 opened #8 "Provide unit tests for keys.config.js"
**Is your feature request related to a problem? Please describe.** :bulb:
This is related to unit testing for the file `keys.config.js`.

**Describe the solution you'd like** :sparkles:
- Create a file inside `server/test/` named as **keys.config.spec.js** for one of the config files inside `server/src/configs/`.
- Make unit tests in jest for the function **genKeyPair**

**Describe alternatives yo

[2020-12-31 17:22] sorbx64 commented on #4
Hi @fave77, I would like to contribute to your project starting with this issue.

[2020-12-31 17:41] urvi-k commented on #6
@fave77 Can you assign me this issue?

[2020-12-31 18:26] fave77 commented on #4
Sure! If you face any hurdles, do reach out.

[2020-12-31 18:28] fave77 commented on #6
Sure! If you face any hurdles, do reach out.

[2020-12-31 18:29] sorbx64 commented on #4
Sure i will. Thanks.

[2021-01-01 19:24] sorbx64 commented on #4
Hi @fave77, I added react-bootstrap card to the carousel in home and css-in-js so that now it's responsive, but card is also inheriting styles from app.css. So, could you help me by telling if card styles (below in images) alright? And should I use css-in-js or make new home.css and import it in home.js to overwrite app.css effects on card in home?

![localhost_3000_(iPhone-X)](https://user-images

[2021-01-01 21:08] fave77 commented on #4
Hi @saurabh-33 looks good, this will do for now 👍🏻
However, I have been thinking about redesigning the entire site using glassmorphism; let me know if you are interested to contribute in the design decisions, so that we can delegate the task among ourselves properly.
In the meantime, make the PR regarding this issue.

[2021-01-02 08:50] sorbx64 commented on #4
Of course @fave77, I am also interested in glassmorphism design, So count me in.

I have made the PR for this issue. Please check it and let me know if any edits needed.

[2021-01-02 09:04] #4 closed, assigned to sorbx64

[2021-01-09 16:27] fave77 commented on #6
@cp-urvi-k Can you please share the update?

[2021-01-12 20:22] sorbx64 opened #11 "Making a editable user profile page"
**Is your feature request related to a problem? Please describe.** :bulb:
No.

**Describe the solution you'd like** :sparkles:
A profile page for the user's information. It should contain:
1. A profile image for the user (editable)
1. Username (unedtiable)
1. When user Joined (uneditable)
1. Fullname (editable)
1. Email address (editable)
1. Gender (editable)
1. Country (editable)
1. An <i>Edit Pr

[2021-01-14 16:58] fave77 opened #12 "Fix the Navbar Dropdown and LogOut"
**Describe the bug** :bug:
The current dropdown in the navbar has the following issues:
- The background color and the text color are the same
- It overflows in the desktop view
- It takes up the entire viewport in mobile view
- After clicking logout, the UI doesn't change and needs a manual reload

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to `/register` or `/login` page
2. Re

[2021-01-18 14:35] somesh526 commented on #5
Hi @fave77 can you assign me I will fix this issue under Jwoc

[2021-01-18 14:40] fave77 commented on #5
Hey @somesh526 issues will be assigned once the coding phase starts. Till then we can discuss about any improvement or features (that you might like to add) in our discord channel

[2021-01-18 15:12] somesh526 commented on #5
Hey @fave77 can you send the discord server link

[2021-01-18 15:22] fave77 commented on #5
@somesh526 You are a JWoC participant, right?
You must have received the discord link in your welcome mail

[2021-01-18 15:28] somesh526 commented on #5
I'm a JWOC participant, I registered as a mentee but I didn't received any email. If you are an organizer can you look into this issue if not can you tell me whom to reach to resolve this issue thank you @fave77

[2021-01-18 15:30] somesh526 commented on #5
@fave77 I got it the welcome mail is in the spam.Thank you no issues

[2021-01-18 15:33] fave77 commented on #5
@somesh526 Great 👍🏻

[2021-01-19 12:32] pankajbijarniya commented on #12
I would like to contribute as a participant of JWOC.

[2021-01-19 12:44] fave77 commented on #12
@pankajkumarbij will assign you once the coding phase starts

[2021-01-20 15:28] magjoy6 commented on #11
I want to fix this issue with the help of bootstrap.. could you assign me for this work?

[2021-01-20 15:34] fave77 commented on #11
@magjoy6 are you a JWoC participant?

[2021-01-20 15:35] fave77 commented on #11
@magjoy6 are you a JWoC participant?

[2021-01-20 15:36] magjoy6 commented on #11
@fave77 yes I am

[2021-01-20 15:45] fave77 commented on #11
@magjoy6 I apologize for the inconvenience, but this issue is not under JWoC and already assigned to @saurabh-33. Please find any other issues to work on or raise new ones if you find any bugs or have an idea about a new feature. Do discuss beforehand on our discord channel.

[2021-01-20 18:36] sneha-baser commented on #5
as per instructions on taking up the issue on 21th Jan (Under JWOC), I am part of JWOC as mentee and i wanna contribute to this issue.

[2021-01-20 18:51] fave77 commented on #5
Sure @sneha-baser

[2021-01-21 08:36] Subhra264 commented on #8
Hello, I want to work on this issue under JWOC

[2021-01-21 08:45] fave77 commented on #8
@Subhra264 make sure the coverage is 100% for `keys.service.js` and create a file named  `keys.service.spec.js` inside the **test/services** folder.

NOTE: Since the issue was created, `keys.service.js` has been moved from `configs` to `services`.

[2021-01-22 07:20] sneha-baser commented on #5
@fave77 i wants to ask is just 2 links that u described has to added.or can i also have to add links for social media handels??

[2021-01-22 08:02] fave77 commented on #5
@sneha-baser just the two links.... And footer must be only in homepage

[2021-01-22 08:41] fave77 commented on #12
@pankajkumarbij your allocated time is up.... so unassigning you from this issue

[2021-01-22 13:15] sneha-baser commented on #5
@fave77 I made PR but there is one condition not satisfy.. i am not able to get that one. could you please check.

[2021-01-23 16:07] #8 closed, assigned to Subhra264

[2021-01-24 09:53] shreetama123 commented on #6
I would like to contribute in this as a part of jwoc

[2021-01-28 07:04] Subhra264 commented on #12
Hello I want to work on this issue under jwoc...

[2021-01-28 08:52] fave77 commented on #12
@Subhra264 Sure, assigning you...

[2021-01-29 07:45] #12 closed, assigned to Subhra264

[2021-02-11 16:29] Subhra264 commented on #6
Hello! I want to work on this issue under JWOC

[2021-02-12 08:42] #6 closed, assigned to Subhra264

[2021-02-14 04:25] pankajkumarbij commented on #5
I would like to work on this issue.

[2021-02-20 14:44] Subhra264 commented on #7
Hello!
Want to work on it 🙂🙂...

[2021-02-24 15:31] #11 closed, assigned to sorbx64

[2021-02-25 16:29] #7 closed, assigned to Subhra264

[2021-03-01 01:01] luckykumarirai commented on #5
@fave77 I would like to contribute as participant of GSSOC.

[2021-03-01 06:13] chehak123 commented on #5
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 13:15] vieee commented on #5
Hi @fave77, I would like to contribute to this issue as a participant of GSSoC 21', Could I ?

[2021-03-01 14:50] fave77 commented on #5
@luckykumarirai @chehak123 @vieee I want to remind all of you that the official coding period of GSSoC 21' starts on 8th March according to the revised timeline!
If you'd like to contribute now, that's fine for me but do note that that won't be counted under GSSoC 21'.
If you're fine with that, let me know and I will assign you 👍🏻

PS: More issues coming, stay tuned 🚀

[2021-03-03 08:13] maanpatel2492 commented on #5
Hey,
I can work very well on this issue.Assign if possible

[2021-03-07 15:20] fave77 opened #22 "Create a component for solving chess puzzles"
**Is your feature request related to a problem? Please describe.** :bulb:
The puzzles page would allow a user to practice random puzzles with varying ELO ratings. The basic functionality including but not limited to:
- whenever the user visits the page, a random chess puzzle is generated for them to solve
- a chessboard would be displaying for acting as an interface
- an error would pop up indicat

[2021-03-07 15:35] fave77 opened #23 "Create a 'videos' component for displaying lichess TV"
**Is your feature request related to a problem? Please describe.** :bulb:
N/A

**Describe the solution you'd like** :sparkles:

- Visit [https://lichess.org/developers](https://lichess.org/developers) for how to embed the lichess TV
- Theme should be set to `blue-marble`

**Describe alternatives you've considered** :star2:
N/A

**Additional context** :memo:
N/A

[2021-03-07 16:16] fave77 opened #24 "Provide an article on chess - Grokking Chess: Fundamentals, Principles, and Checkmate Patterns"
**Is your feature request related to a problem? Please describe.** :bulb:
This article is for the learning section of pbchess.

**Describe the solution you'd like** :sparkles:
Provide an article under 1000 words that also fulfill 5 min read time. It should consist of plenty of images, elaborations wherever it needs. Simply put, it should be visually stunning and engaging, and must be submitted as

[2021-03-08 06:20] Devenkapoor7303 commented on #23
Can I work on this issue as a part of GSSOC 21

[2021-03-08 06:29] fave77 commented on #23
@Devenkapoor7303 Sure 👍🏻
But may I know your discord username first?

[2021-03-08 06:36] Devenkapoor7303 commented on #23
my discord username is deven

[2021-03-08 06:38] fave77 commented on #5
@luckykumarirai @chehak123 @vieee @maanpatel2492 please state your discord username for the main GSSoC server.
This issue will be assigned on a first-come, first-serve basis as to whoever confirms 👍🏻

[2021-03-08 06:40] fave77 commented on #23
@Devenkapoor7303 Embed the `videos` component at the bottom of the `learn` component

[2021-03-08 06:44] Devenkapoor7303 commented on #23
Okay I will start the work on the issue from today onwards

[2021-03-08 09:32] jain-rishabh-21 commented on #5
Discord username: krackerzzz#4371
Please assign the issue!

[2021-03-08 10:47] Anjali041 commented on #24
I would like to work on this issue, kindly assign it to me. I am GSSoC'21 participant.

[2021-03-08 11:07] fave77 commented on #24
@Anjali041 please state your discord username

[2021-03-08 11:28] Anjali041 commented on #24
Anjali#5463

[2021-03-08 15:19] RituCs commented on #5
I would like to contribute on this issue.can I start working?

[2021-03-08 15:24] fave77 opened #25 "Provide an article on chess - Chess Engines 101: Looking through the Machine’s Lens"
**Is your feature request related to a problem? Please describe.** :bulb:
This article is for the learning section of pbchess.

**Describe the solution you'd like** :sparkles:
Provide an article under 1000 words that also fulfill 5 min read time. It should consist of plenty of images, elaborations wherever it needs. Simply put, it should be visually stunning and engaging, and must be submitted as

[2021-03-08 15:27] fave77 commented on #5
@RituCs the issue is currently assigned to @jain-rishabh-21 , please find another issue to claim or raise your own issue for any bugs or feature

[2021-03-08 18:11] Adrenalinerush07 commented on #25
Hello, being a chess player I will really love to work on this issue.
[Chess profile](https://www.chess.com/member/anshuchiha)

[2021-03-08 18:51] fave77 commented on #25
@Adrenalinerush07 please provide your gssoc's discord username

[2021-03-09 04:06] OmkarPh opened #26 "Your/opponent turn prompt"
**Is your feature request related to a problem? Please describe.** :bulb:
There should be a Your/Opponent turn prompt or label on screen. It would be very helpful.
For example, user might take eyes off screen for couple of seconds and miss the opponent's movement. He/she would keep waiting for opponent and opponent would also have to wait. That is not at all good.

**Describe the solution you'd li

[2021-03-09 04:33] Adrenalinerush07 commented on #25
It's KartikJaiswal#6870

[2021-03-09 04:40] OmkarPh opened #27 "Suggestion: Add contributing guidelines"
**Is your feature request related to a problem? Please describe.** :bulb:
Any new contributor has to figure about project structure and has to spent quite some time figuring it out. It would be very helpful if there is a contributing guidelines for their help.
I am also new to this repo. Admins may look after it.

**Describe the solution you'd like** :sparkles:
Add CONTRIBUTING.md file with steps

[2021-03-09 05:04] swapniltripathi123 commented on #22
I want to work on this issue . Please assign it to me.

[2021-03-09 06:10] fave77 commented on #27
@OmkarPh The contributing guidelines already exist. For your reference, please check [CONTRIBUTING.md](https://github.com/fave77/pbchess/blob/develop/.github/CONTRIBUTING/CONTRIBUTING.md)

[2021-03-09 06:12] #27 closed, assigned to nobody

[2021-03-09 06:13] OmkarPh commented on #27
Oops !
My bad ;)

[2021-03-09 06:20] fave77 commented on #26
@OmkarPh It's a wonderful suggestion! Do you think we could maybe display the username of the players on the top-left and bottom-left side of the board.
And the player's username would be highlighted upon his/her turn, maybe a little wiggle animation. I agree it is a little implicit, but what do you think?

[2021-03-09 06:22] fave77 commented on #23
@Devenkapoor7303 any update please?

[2021-03-09 06:25] OmkarPh commented on #26
Ya that would be great.
For larger screens we can show the status on top-left & bottom-left.
For smaller screens, can we show it above & below board ...?

Is it ok to have it this way:
bottom: Your move
top: john's move

[2021-03-09 06:33] fave77 commented on #26
@OmkarPh Yes, I meant above and below board actually for all the form factors. Like so,
![desktop](https://drive.google.com/uc?export=view&id=1H5mAVflN33KjLAr9BnIh800vDKqQGRex)
On the top-right and bottom-right, there would be timers for which I will open an issue later.

[2021-03-09 06:36] Devenkapoor7303 commented on #23
Yeah I was working on it .Today at night I will share a png of final design and will make a PR

[2021-03-09 06:38] fave77 commented on #26
The green dot indicator could be used to show whose move it is

[2021-03-09 06:38] OmkarPh commented on #26
Ya, it looks good.
Have you started with this already?

[2021-03-09 06:39] fave77 commented on #26
Nope

[2021-03-09 06:40] fave77 commented on #26
@OmkarPh you're a GSSoC'21 participant?

[2021-03-09 06:41] fave77 commented on #23
@Devenkapoor7303 Okay

[2021-03-09 06:42] OmkarPh commented on #26
Yes, found this repo through GSSoC projects page

I know I became a bit desperate. Sorry for opening hasty issue XD

[2021-03-09 06:45] fave77 commented on #26
@OmkarPh No, your suggestion was great 👍🏻
I was just asking whether to add the gssoc tag or not!
Anyway, assigning you now... but first please share your discord username

[2021-03-09 06:47] OmkarPh commented on #26
I meant the other one ;)

Omkar Phansopkar (P)#8349

[2021-03-09 06:56] OmkarPh commented on #26
@fave77 I tried modifying the code, but realised that after every small change, I have to create and join a new room again.
Is there any way to do this efficiently?

[2021-03-09 07:00] fave77 commented on #26
@OmkarPh let's connect over discord

[2021-03-09 08:20] subhangi2731 commented on #22
can you assign me this?

[2021-03-09 08:42] Devenkapoor7303 commented on #23
@fave77  I have added the videos with aligning it to the center can u review it so that I can make a PR.

![Capture](https://user-images.githubusercontent.com/73438023/110442942-3cd1b180-8070-11eb-927f-1d85f0920d32.PNG)

[2021-03-09 09:22] fave77 commented on #22
@subhangi2731 your gssoc discord username?

[2021-03-09 09:24] fave77 commented on #23
@Devenkapoor7303 looks fine to me 👍🏻

[2021-03-09 10:44] fave77 opened #28 "Provide unit tests for chess.service.js"
**Is your feature request related to a problem? Please describe.** :bulb:
This is related to unit testing for the file `chess.service.js`.

**Describe the solution you'd like** :sparkles:
- Create a file inside `server/test/services` named `chess.service.spec.js` for writing the unit tests.
- Write the tests along with required sandboxes in jest for the functions **validatePawnPromotion** and **ev

[2021-03-09 11:28] fave77 opened #29 "Provide an article on chess - Chess Vocab: Speaking the common tongue"
**Is your feature request related to a problem? Please describe.** :bulb:
This article is for the learning section of pbchess.

**Describe the solution you'd like** :sparkles:
- Provide a list of all possible chess-related words in alphabetical order along with one or two-line descriptions for each.

**Describe alternatives you've considered** :star2:
NA

**Additional context** :memo:
NA

[2021-03-09 11:37] srisatya12 commented on #29
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:44] fave77 commented on #29
@srisatya1197 please provide your GSSoC'21 discord username

[2021-03-09 12:24] MayankBeck commented on #29
I want to work on this issue. Please assign this task to me as a part of GSSoC 21.

[2021-03-09 12:26] Devenkapoor7303 commented on #23
okay I am making PR then

[2021-03-09 12:31] fave77 commented on #29
@srisatya1197 @MayankBeck this issue will be assigned to whoever confirms their own discord username for GSSoC'21 first

[2021-03-09 13:29] #23 closed, assigned to Devenkapoor7303

[2021-03-09 14:54] feni-katharotiya commented on #28
@fave77  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:58] feni-katharotiya commented on #29
@fave77 Hello, I am gssoc participant and would like to work on this issue.

discord  username :  feni#4332

[2021-03-09 15:03] feni-katharotiya commented on #29
@fave77 Hello, I am gssoc participant and would like to work on this issue.
discord username : Feni#4332

[2021-03-09 15:04] feni-katharotiya commented on #28
@fave77 Hello, I am gssoc participant and would like to work on this issue.
discord username : Feni#4332

[2021-03-09 15:05] feni-katharotiya commented on #22
@fave77 Hello, I am gssoc participant and would like to work on this issue.
discord username : Feni#4332

[2021-03-09 15:31] #24 closed, assigned to Anjali041

[2021-03-09 15:33] fave77 commented on #29
@feni-katharotiya already assigned you to issue #28

[2021-03-09 15:52] rithgan opened #33 "Adding script to install all packages at once"
**Is your feature request related to a problem? Please describe.** :bulb:
It's always easier and faster to install all packages on the server and the client-side by running one script

**Describe the solution you'd like** :sparkles:
I will add the "setup" script to the package.json in the root directory through which all packages on both sides will be installed simultaneously.

**Describe alternat

[2021-03-09 15:52] rithgan commented on #33
If this issue gets approved, I would like it to be assigned to me for gssoc.

[2021-03-09 16:00] fave77 commented on #33
@rithgan like a single `npm install` on root **package.json** ?

[2021-03-09 16:03] rithgan commented on #33
Yes like that. I have already written it. One will have to run

and all packages will be installed

[2021-03-09 16:06] fave77 commented on #33
@rithgan Script written inside `package.json` or calls some `.sh` files

[2021-03-09 16:08] rithgan commented on #33
It will be written in package.json only but can also be written in .sh file

[2021-03-09 16:09] fave77 commented on #33
Fine let's keep it in the package.json since it would be quite simple

[2021-03-09 16:14] fave77 commented on #33
@rithgan also update this part of the CONTRIBUTING.md like so:
[code]

[2021-03-09 16:17] rithgan commented on #33
Okay i am on it.

[2021-03-09 16:50] #33 closed, assigned to rithgan

[2021-03-09 18:02] Arshanshagarwal commented on #29
Hi, I want to work on this issue.
Discord Username:  Arshansh#5364

[2021-03-09 18:08] apurv-1 opened #35 "Adding Avatar to Profile Picture"
**Is your feature request related to a problem? Please describe.** :bulb:
No

**Describe the solution you'd like** :sparkles:
1. Profile avatar for the users. Like this 👇
![Capture](https://user-images.githubusercontent.com/53378650/110516541-b9779500-812f-11eb-9f09-f464c69ab3be.PNG)
2. The profile model on the server should be changed from String to ObjectId. and the same changes have to be made

[2021-03-10 04:52] feni-katharotiya commented on #28
@fave77 Thanks for assing me

[2021-03-10 04:53] feni-katharotiya commented on #29
Okay

[2021-03-10 06:56] MayankBeck commented on #5
I would like to work on this issue as a part of GSSoC 21.

[2021-03-10 07:59] #5 closed, assigned to jain-rishabh-21

[2021-03-10 09:18] jain-rishabh-21 commented on #35
Please assign it to me.
discordUsername: krackerzzz#4371

[2021-03-10 13:10] krishna-y2000 opened #36 "Rule for all pieces of chess as part of gssoc'21"
**Is your feature request related to a problem? Please describe.** :bulb:
There are people who don't know the rules of chess pieces. It would be good if there is a written set of rules section of pieces like how a queen can move, how pawn can move and kill opponent etc

**Describe the solution you'd like** :sparkles:
I would like to add tab of rules on navigation bar which would describe the rules

[2021-03-10 13:29] krishna-y2000 opened #38 "[GSSOC'21] Improve Readme"
**Is your feature request related to a problem? Please describe.** :bulb:
There are few things missing in readme like how to get started for developers , features of projects etc

**Describe the solution you'd like** :sparkles:
I would edit the readme file and make it better . It will be easy to understand for developers.

Please asssign this issue to me as part of gssoc'21.
My Discord Username :

[2021-03-10 13:54] midhun-b-m commented on #25
Hello @fave77,
I would like to help craft a good article in satisfying the given criteria.
Some of my writings can be found at https://midhunbm.com (if required)
Please consider me to help resolve this issue.
I am a participant at GSSoC'21
**My discord username**: whoismbm#5713

[2021-03-10 14:54] Coder-Srinivas opened #39 "Adding Google Authentication"
**Is your feature request related to a problem? Please describe.** :bulb:
The website is lacking Google and Facebook sign in feature

**Describe the solution you'd like** :sparkles:
I would like to add sign in with google and sign in with Facebook features.

Please assign me this issue under GSSoC 2021

[2021-03-10 15:52] #26 closed, assigned to OmkarPh

[2021-03-10 16:09] fave77 commented on #36
@krishna-y2000 What you are proposing is going to be implemented inside the `/learn` route by rendering a component called `Lessons`. Please refer to the issue #24 and the [article](https://github.com/fave77/pbchess/blob/develop/.github/Lessons/grokking_chess.md).

`/learn` would also render `Videos` (#23 )and `Puzzles`(#22) along with `Lessons` in the form of tabs for displaying one component at

[2021-03-10 16:09] #36 closed, assigned to nobody

[2021-03-10 16:15] fave77 commented on #38
@krishna-y2000 This has been thoroughly described in `CONTRIBUTING.md`

You mentioned **features of projects**, please elaborate how you are going to illustrate that? FYI, the [project demo](https://github.com/fave77/pbchess/wiki/Project-Demo) already exists.

[2021-03-10 16:25] fave77 commented on #39
@Coder-Srinivas let's work with Google first, and please lay out a detailed picture of all the libraries, API-keys you'll be using for this issue

[2021-03-10 17:32] fave77 commented on #25
@midhun-b-m please understand that it has already been assigned to another person, you could contribute by raising an issue on a new article though.... let's discuss over discord if you're interested - fave77#0087 (my discord username, just ping me over there)

[2021-03-10 17:40] Coder-Srinivas commented on #39
@fave77 I would be using OAuth2.0 to access the Google API's and the Passport npm module. In order to access the Google API, we need a client id and the client secret key. In order to get them we need a Google account. Should I create a new google account in order to get them? Please suggest.
My Discord Username is : Srinivas(P)#7368

[2021-03-11 05:19] OmkarPh opened #40 "Provide Join/create instead option"
**Is your feature request related to a problem? Please describe.** :bulb:
Assuming the following situation:
A user might have code for a room. He/she visited the play page, and clicked on `create game` by mistake instead of `join game`.
In such case, the user has to manually reload the page in order to click on join game again.
In order to prevent this, we can have a small link/button on the `lobb

[2021-03-11 05:19] OmkarPh commented on #40
Can you assign this me under GSSoC 21

My discord: Omkar Phansopkar (P)

[2021-03-11 06:29] OmkarPh commented on #40
Also, there are a few console.log statements lying around. Shouldn't we remove them?

[2021-03-11 06:40] adi-g15 commented on #40
@fave77  Seems a good addition to me 👍

I think it's by mistake, take a look at the end of line 179->

https://github.com/fave77/pbchess/blob/4f4115592c24393481756838a62caa93dc13f704/client/src/components/lobby/lobby.js#L179-L181

[2021-03-11 06:41] adi-g15 commented on #40
<img width="280" alt="console" src="https://user-images.githubusercontent.com/37269665/110746453-d95ba580-8262-11eb-9c87-cb00ba8c0c0a.png">

Seems you are talking about all these @OmkarPh ?

[2021-03-11 07:12] Shivam648 commented on #29
Hi, am GSSOC21 participant and I want to work on this issue.
Discord Username-  Shivam Jaiswal(P)#4469

[2021-03-11 07:33] khareyash05 opened #41 "add contributing.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 07:52] Priyanka7011 opened #42 "can create a video library of chess matches/chess moves"
**Is your feature request related to a problem? Please describe.** :bulb:
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** :sparkles:
A clear and concise description of what you want to happen.

**Describe alternatives you've considered** :star2:
A clear and concise description of any alternative solutions or feature

[2021-03-11 08:13] rithgan commented on #22
@fave77 can I work on this issue as part of the gssoc21

[2021-03-11 08:34] OmkarPh commented on #40
Yes

Should I remove them?

[2021-03-11 10:50] adi-g15 commented on #41
@khareyash05 CONTRIBUTING.md is already available for this repo. You can take a look at other issues, or if you find an issue, you can create one, and ask to be assigned then. 😄

https://github.com/fave77/pbchess/blob/develop/.github/CONTRIBUTING/CONTRIBUTING.md

[2021-03-11 10:51] fave77 commented on #40
No need to remove console logs, they would come in handy while refactoring `lobby.js`

[2021-03-11 10:52] adi-g15 commented on #42
@Priyanka7011 Can you add some more details in the issue ?
It seems little vague from only having a title. A brief description of the feature will be helpful.

[2021-03-11 10:53] #41 closed, assigned to nobody

[2021-03-11 10:54] #42 closed, assigned to nobody

[2021-03-11 10:57] fave77 commented on #22
@rithgan can you please provide your discord username?

[2021-03-11 11:11] fave77 commented on #29
@Shivam648 It has already been assigned to @Arshanshagarwal
Please find a different issue and/or raise your own to work on 👍🏻

[2021-03-11 11:35] rithgan commented on #22
Discord username - kiraa#7281

My PR also got merged yesterday.

[2021-03-11 11:57] OmkarPh commented on #40
Ohk 👍

[2021-03-11 12:37] Shivam648 commented on #29
@fave77 it:s ok

[2021-03-11 12:42] #40 closed, assigned to OmkarPh

[2021-03-11 12:56] fave77 commented on #38
Closing the issue due to no response

[2021-03-11 12:56] #38 closed, assigned to nobody

[2021-03-12 10:43] richakumari19 commented on #39
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:44] richakumari19 commented on #35
Hey , I am participant in GSSOC'21. Can you please assign this to me under GSSOC'21?

[2021-03-12 11:10] fave77 commented on #39
@rk05-lenavo this issue is already assigned ...please raise your own issue to work on (if approved) otherwise wait for a couple of days for new issues to be rolled out

[2021-03-12 11:11] jain-rishabh-21 commented on #35
I am already working on it!

[2021-03-12 11:12] Sanchit-Soni opened #46 "Landing Page UI"
**Describe the bug** :bug:
The Carousel arrow key is overlapping with the image of the chessboard.
The gradient colour which is used for the card is also too light according to the theme of the landing page

**To Reproduce** :mag:
Steps to reproduce the behaviour:
1. Go to 'https://develop--pbchess.netlify.app/'

**Expected behaviour** :honeybee:
The arrow key and image of the chessboard should no

[2021-03-12 11:14] Sanchit-Soni commented on #46
I can fix this issue, Please assign this to me.
Discord Username: Sanchit(P)#7382

[2021-03-12 11:37] fave77 commented on #46
@Sanchit-Soni please provide a design mock-up first as to how you wanna improve this... and also state your screen size as well as browser version

[2021-03-12 11:44] adi-g15 commented on #46
It's fine on most screen sizes, though on big screen sizes I did found this, it can be fixed by changing the z-index of #carousal-control-next

Regarding the gradient colour I think it is a design choice

@fave77 ?

[2021-03-12 11:49] Sanchit-Soni commented on #46
Chrome version: Version 89.0.4389.82 (Official Build) (64-bit)
screen size 15.6" (1920 х 1080 pixels.)

![final pbchess](https://user-images.githubusercontent.com/61468328/110936312-b6122280-8356-11eb-8f26-d5e4cfedbd7d.png)

[2021-03-12 11:53] apurv-1 commented on #46
It's minor design change, @fave77 you can label it is as level 0 and good first issue.

[2021-03-12 14:08] rohan-kulkarni-25 opened #47 "Adding Contributor section in the website"
Original proposal

Counter Proposal

The list would update automatically whenever a PR gets merged and it shouldn't contain bots as a contributor.
For the UI, on a 13-inch display, a row would contain 3 cards, and you can increase or decrease the number according to different form-factors, Each card would display the contributor's GitHub image, full name, username, and then clicking the card would

[2021-03-12 15:42] fave77 commented on #47
@rohank2502 contributor list already exists on the repository's home page, it would be nice to create a page for the website though. `/contributors` would list all the contributors sorted by the number of commits and lines of code added.
The list would update automatically **whenever a PR gets merged** and it shouldn't contain bots as a contributor.
For the UI, on a 13-inch display, a row would co

[2021-03-12 15:55] fave77 commented on #46
@Sanchit-Soni just fix the positional error of the `arrow` and `board`, no need to modify the gradient color since it is a design choice

[2021-03-12 16:01] #29 closed, assigned to Arshanshagarwal

[2021-03-12 16:06] rohan-kulkarni-25 commented on #47
Ok I will think about it and will get back to you tomorrow !!

On Fri, Mar 12, 2021 at 9:12 PM Priyabrata Biswas ***@***.***>
wrote:

[2021-03-12 16:07] fave77 commented on #47
@rohank2502 sure!

[2021-03-12 17:54] #46 closed, assigned to Sanchit-Soni

[2021-03-12 18:11] joshi008 commented on #47
I believe adding contributors in a website would require it to load dynamically from [contributor website](https://github.com/fave77/pbchess/graphs/contributors) which might require us to run that in the server as a scrapper for the website.
But the question arises that is it legal to scrape github webpages and abide by the [policies](https://docs.github.com/en/github/site-policy/github-privacy-st

[2021-03-12 18:23] midhun-b-m opened #49 "[GSSOC'21] [Documentation] Endgames"
**Is your feature request related to a problem? Please describe.** :bulb:
An article on endgames for learning section of pbchess

**Describe the solution you'd like** :sparkles:
A 3000-word article on different endgames like rook endgame, king and pawn end game etc with in depth analysis submitted as a markdown file

**Describe alternatives you've considered** :star2:
NA

**Additional context** :m

[2021-03-12 18:24] midhun-b-m commented on #49
@fave77 I would like to work on this issue.

[2021-03-12 18:45] fave77 commented on #47
@joshi008 can you suggest an alternative then?
Let's say we compromise real-time update for getting rid of web scraping, then can you look into any GitHub APIs that exist for retrieving such data (even if it isn't real time). Maybe we could assign a scheduler to call the api once a day for updates

[2021-03-13 09:06] adi-g15 commented on #47
@joshi008 There is actually a github API for that, https://docs.github.com/en/rest/reference/repos#list-repository-contributors, found it through an answer on stackoverflow.
If you like the idea to show contributors at `/contributors`, you can have a look at it, there maybe more limitations but it also provides the number of contributions 👍

For this repo, it will be: https://api.github.com/repos/

[2021-03-13 09:17] joshi008 commented on #47
@adi-g15 This api is good. Thanks for sharing it. Yes we can parse data from the info from this link. Would you like to contribute for it. I would be happy to contribute if no one takes.

[2021-03-13 09:39] adi-g15 commented on #47
I am a mentor, so you can go ahead if you want to be assigned to this issue 🙂

[2021-03-13 09:59] joshi008 commented on #47
Sure, please assign me this issue 🙂.

[2021-03-13 10:00] fave77 commented on #28
@feni-katharotiya please share your update

[2021-03-13 10:09] fave77 commented on #47
@rohank2502 said he will let us know if he wants to work on this by today... so will wait for his reply. If we get no response, then will assign to you @joshi008 first thing tomorrow

[2021-03-13 10:12] rohan-kulkarni-25 commented on #47
Hey Rohan here I read the discussion @fave77  If @joshi008  want to go with this issue please assign him this !! Honestly I am having many issues assigned than just taking the issue as assigned and not completing is not good so I welcome the request of @joshi008 and request @fave77 to assign issue & If @joshi008 need any help I am ready to !!

[2021-03-13 10:17] fave77 commented on #47
Thanks for the update! 👍🏻

[2021-03-13 10:51] Coder-Srinivas opened #51 "Alerting the user via an email when he/she registers without using google."
**Is your feature request related to a problem? Please describe.** :bulb:
The website lacks the feature of sending emails when a user registers himself/herself without using google.

**Describe the solution you'd like** :sparkles:
I would like to use the nodemailer module to send emails to the client when a user registers without using google.

[2021-03-13 14:06] Vanshikaa00 opened #52 "Learn page not scaling properly when viewed on mobile screen"
**Describe the bug** :bug:
Learn page is not scaling accordingly when viewed on mobile screen. A lot of spacing on right side could be seen when you zoom out.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to https://develop--pbchess.netlify.app/learn
2. Inspect the page and click on toggle device toolbar
3. Choose any mobile device, say galaxy s5
4. See the error

**Expected behav

[2021-03-13 14:29] Vanshikaa00 commented on #52
@fave77 I would like to work upon this

[2021-03-13 16:14] #39 closed, assigned to Coder-Srinivas

[2021-03-13 16:35] fave77 commented on #52
@Vanshikaa00 please state your discord username on GSSoC server?

[2021-03-13 16:49] Vanshikaa00 commented on #52
It's Vanshika#7545  @fave77

[2021-03-14 06:23] Lza-etc commented on #51
Hi
would you mind me doing this using emailjs

[2021-03-14 08:09] fave77 commented on #51
@Lza-etc this issue is already assigned!

[2021-03-14 10:32] fave77 commented on #28
@feni-katharotiya Unassigning you due to no response over here and on discord

[2021-03-14 10:32] fave77 commented on #22
@rithgan please share your update

[2021-03-14 11:45] Coder-Srinivas opened #54 "Email Validation on the client side for syntactical errors and on the server side to test the validity"
**Is your feature request related to a problem? Please describe.** :bulb:
The website lacks the feature of validating emails, when a user registers without using google.

**Describe the solution you'd like** :sparkles:
I would like to add email validation to the website whenever a user registers using the npm deep-email-validator module on the client side.

[2021-03-14 11:49] #51 closed, assigned to Coder-Srinivas

[2021-03-14 12:00] fave77 commented on #54
@Coder-Srinivas Your suggested package only provides email-validation. Since, a rudimentary hard-coded validation already exists on the client side and your last PR included sending emails while registering, we need an `Email Verification` feature.

Have a look at this [article](https://soshace.com/verifying-an-email-address-without-sending-an-email-in-nodejs/)!

[2021-03-14 12:07] rithgan commented on #22
I only started working on it today. For now, I have figured out the working. I will give a proper update very soon.

[2021-03-14 12:26] Coder-Srinivas commented on #54
@fave77 We can remove the hard-coded validation and use the deep-email-validator on the client side to verify the authenticity of the email. If the email is syntactically correct, we can send it to the backend which will send the client a dummy email to check for it's authenticity.

[2021-03-14 17:29] #52 closed, assigned to Vanshikaa00

[2021-03-14 20:47] joshi008 commented on #47
Hey @fave77 ,  where should this link be added for contributors?
I see two positions one at the navbar along with Login
or in the footer "Made with ❤️ by **our contributors** for the chess community" here **our contributors** will be a link diverted to this page.

The page looks like this

![image](https://user-images.githubusercontent.com/54844760/111083632-76a12d00-8534-11eb-8258-15c42cff95e8.pn

[2021-03-14 21:01] fave77 commented on #47
@joshi008 Add the link in the middle of the second row of footer in between license and support, named `Contributors`. Also, make sure the cards are animated, when page loads up and also responds on various gestures like hover, focus, etc.

[2021-03-14 21:10] fave77 commented on #47
@joshi008 you can use this [package](https://www.npmjs.com/package/react-animations)!

[2021-03-15 17:59] adi-g15 commented on #49
@midhun-b-m Can you share your progress on it :D ?

[2021-03-15 18:02] adi-g15 commented on #25
@Adrenalinerush07 Can you share your progress on this issue ?

[2021-03-16 02:23] midhun-b-m commented on #49
@adi-g15
I am structuring the gathered information in an easy-to-understand manner. The task will be completed in 2-3 days

[2021-03-16 18:10] sahilempire opened #56 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will **update contributor list** in README.md **automatically** !! Will start to work on this issue as soon as **I get assigned** !

Thank You

[2021-03-16 18:32] adi-g15 commented on #56
A similar issue is being worked upon, take a look at #47

Also this proposal has been mentioned earlier:
![ditto](https://user-images.githubusercontent.com/37269665/111361695-f99cc180-86b3-11eb-9b37-a80f0c0e6244.png)

You may want to look at the code, and create one or work on another unassigned issue :smile:
@sahilempire You may like to close this issue since it's already been proposed

[2021-03-16 18:32] adi-g15 commented on #56
@fave77

[2021-03-16 18:34] sahilempire commented on #56
okay then, I'm closing this issue.

Thank you

[2021-03-16 18:34] #56 closed, assigned to nobody

[2021-03-16 18:37] adi-g15 commented on #25
@fave77 I think the issue can be unassigned, as there hasn't been a response for some time.

[2021-03-16 18:39] adi-g15 commented on #56
@sahilempire You can look up the code, and try the website if you find some issue, you can work on improving it, and ask us for difficulties faced :+1:

[2021-03-16 18:40] adi-g15 commented on #35
@jain-rishabh-21 Can you provide update on this issue ?

[2021-03-16 18:42] sahilempire commented on #56
okay @adi-g15 ,

Thanks

[2021-03-16 19:08] adi-g15 commented on #56
Also @sahilempire **please** don't do it for the sake of just topping the leaderboard. I just found out there are 72 of these issues, and you would surely be knowing this.

[2021-03-16 19:15] sahilempire commented on #56
@adi-g15 I really don't think like that, but you think this about me and surely this is only my fault.
I sincerely Sorry for this,
but before adding this issue, I just go through the README.md file and their is no contribution section at all, so I just simply added this issue.

[2021-03-16 19:26] adi-g15 commented on #56
Okay, good to hear that you don't think solely of the leaderboard, have a fun journey trying out projects and helping them be better 😄👍

[2021-03-16 19:37] adi-g15 commented on #56
https://github.com/search?q=Adding+Contributor+section+in+readme+%28+Automatically+%29+author%3Asahilempire+updated%3A%3E2021-03-07&type=Issues&ref=advsearch&l=&l=

[2021-03-16 20:01] JadeMaveric opened #57 "Add Login with Lichess"
**Is your feature request related to a problem? Please describe.** :bulb:
Lichess now offers [OAuth](https://lichess.org/api#section/Authentication), which means a "Login with Lichess" button is within reach. And although it sounds ironic, it would be the epitome of foss+chess enthusiasm to include such a button.

**Describe the solution you'd like** :sparkles:
Add the "Login with Lichess" button

[2021-03-16 20:15] fave77 commented on #57
Very sneaky way to put someone on the spot! : 😅
Don't worry will assign you, just share your GSSoC'21 discord username...

PS - I love [lichess](https://lichess.org/@/fave77)!

[2021-03-16 20:17] JadeMaveric opened #58 "Allow playing with bots"
**Is your feature request related to a problem? Please describe.** :bulb:
Sometimes I burn the midnight oil and during my breaks crave nothing more than a short bullet game. But my friends seem really upset when I call them up and send them the pbchess game ID to my game. 😭  One of them even threatened to mute/block/unfollow me!
I have since decided that I shall make new friends, and the most stra

[2021-03-16 20:26] JadeMaveric commented on #57
Thanks! I'll get started on a PR.

Sorry, didn't meant to make it awkward 🙈

I'm JadeMaveric#2187 on Discord

PS - Foss yeah! [lichess](https://lichess.org/@/JadeMaveric) >>>> [chess](https://www.chess.com/)

[2021-03-16 20:30] fave77 commented on #58
@JadeMaveric I have plans for integrating stockfish on pbchess, it would allow for far more features than merely playing against bot, like analysis, insights in a far more cohesive manner. Implementing that will take time, currently I am focussing on making the groundwork, refactoring the current codebase and so as to make it extensible.

[2021-03-16 20:33] JadeMaveric commented on #58
@fave77 Sweet! Looking forward to it. All the best

[2021-03-16 20:33] #58 closed, assigned to nobody

[2021-03-16 20:36] fave77 commented on #57
@JadeMaveric PR for issue #54 will be made by today. Make sure to pull those changes too since it will consist of several modifications on the server side code

[2021-03-16 23:17] jain-rishabh-21 commented on #35
Hi, I am currently stuck at one point on this issue!

[2021-03-17 08:22] apurv-1 commented on #35
Let us know, were you're stuck. So that we can help you out!

[2021-03-17 11:23] #54 closed, assigned to Coder-Srinivas

[2021-03-17 11:24] Coder-Srinivas opened #60 "Major Security issue on signing with google"
**Describe the bug** :bug:
Major security issue on the signin/google endpoint.

**To Reproduce** :mag:
Steps to reproduce the behavior:
A person can provide any email and login by performing a post request on the signin/google endpoint. I would like to use a token instead of username for logging in the user via google

[2021-03-17 12:31] Coder-Srinivas opened #61 "Multiple users can login with the same email"
**Describe the bug** :bug:
A user with the same email can register using a different username.

**To Reproduce** :mag:
Steps to reproduce the behavior:
Use a different username while registering. A new user is formed with the same email.

[2021-03-17 13:31] Apprentice76 commented on #61
Can I try my hand at this? I'm a gssoc '21 participant.

[2021-03-17 14:02] adi-g15 commented on #61
@Apprentice76 this issue was assigned already, and now has PR #62 too so it can't be assigned to you. You can look up some issue you find when on the website of this project 🙂

[2021-03-17 14:05] Apprentice76 commented on #61
My bad I thought it was a mentor-opened issue.

[2021-03-17 14:35] #61 closed, assigned to Coder-Srinivas

[2021-03-17 14:44] rajeshpanjiyar opened #63 "adding contributors profile image with Github handle in readme"
I want to add the **contributor's** section in the readme file. It is one of the best parts of every readme.
- I am a *participant* in **GSSoC'21**
- I would like to be assigned and start working.

[2021-03-17 14:47] fave77 commented on #63
@rajeshpanjiyar please go through this [issue's](https://github.com/fave77/pbchess/issues/47) thread

[2021-03-17 14:49] #63 closed, assigned to nobody

[2021-03-17 14:51] adi-g15 commented on #63
@rajeshpanjiyar  Also please search for existing issues before creating a new one. This is the 3rd time it's been created here #47 #56.

[2021-03-17 14:54] rajeshpanjiyar commented on #63
Sorry, it's my bad.

[2021-03-17 14:57] adi-g15 commented on #63
@rajeshpanjiyar Getting away from it on Github is harder though 😂

https://github.com/search?q=is%3Aissue+author%3Arajeshpanjiyar+updated%3A%3E2021-03-07

[2021-03-17 19:10] jain-rishabh-21 commented on #35
Yes @apurv-1 I was not familier with ts, so it took some time ! I will get to you on discord if I face any difficulty !

[2021-03-18 07:06] Coder-Srinivas opened #66 "Implementing Change Password"
**Is your feature request related to a problem? Please describe.** :bulb:
The user currently has no way to change his/her password.

**Describe the solution you'd like** :sparkles:
I would build a component inside the drop down menu providing the user to change his/her password. The request would be sent to the client over a new route. The server then sends the user an email to change his/her pass

[2021-03-18 07:25] fave77 commented on #66
@Coder-Srinivas no need to send any email, implement the change password feature using a form inside the `password` component.

The input fields would include `old password`, `new password`, and `confirm password`

The old password should match the existing hash and salt stored on the db, then only update the password
You can implement checks on the client side whether `new password` or `confirm p

[2021-03-18 07:27] #60 closed, assigned to Coder-Srinivas

[2021-03-18 08:34] rajeshpanjiyar commented on #63
@adi-g15 It's okay this project doesn't need to show contributors in the readme but generating an issue or say the same issue in all repo should not affect one. I generated the same issue in any project because I thought may they need such an update. I think you should go through this before trolling beginners
![image](https://user-images.githubusercontent.com/78999467/111595862-abdba280-87f4-11eb

[2021-03-18 19:12] DEEPIKA-SUK opened #68 "Scroll to top of the page button"
**Is your feature request related to a problem? Please describe.** :bulb:
Scroll to top of the page button is not present in "Learn" page.

**Describe the solution you'd like** :sparkles:
A clear and concise description of what you want to happen.
I would like to add this and want to contribute as a part of GSSOC 2021.

**Describe alternatives you've considered** :star2:
A clear and concise descri

[2021-03-18 19:38] DEEPIKA-SUK commented on #68
@fave77 Please assign me this issue as a part of GSSOC 2021.

[2021-03-19 06:08] fave77 commented on #68
@DEEPIKA-SUK implement this feature inside the vocab component 👍🏻

[2021-03-19 08:34] DEEPIKA-SUK commented on #68
Kindly review my PR.

[2021-03-19 08:35] DEEPIKA-SUK commented on #68
@fave77 Kindly review my PR.

[2021-03-19 11:52] #68 closed, assigned to DEEPIKA-SUK

[2021-03-19 12:44] #66 closed, assigned to Coder-Srinivas

[2021-03-19 13:04] Coder-Srinivas opened #71 "Implementing the Forgot Password Feature"
**Is your feature request related to a problem? Please describe.** :bulb:
The user is unable to update his/her password, when he/she forgets it. Moreover when he/she logs in using google, their password is a random one.

**Describe the solution you'd like** :sparkles:
I would like to implement the feature wherein the user can update his/her password, when he/she forgets it.

[2021-03-19 20:16] #47 closed, assigned to joshi008

[2021-03-19 20:20] fave77 commented on #22
@rithgan please share your update by Monday, otherwise will be unassigning you!

[2021-03-20 18:31] rithgan commented on #22
I am sorry. Here's the update.
1. I have added the previous-next buttons with state
2. I have added the chessboard interface using react-chessground and chess.js
3. setup modals to pop up when mistake and success

I am facing the following issues
Chessblunder API is currently [not available publicly](https://chessblunders.org/faq) so I am exploring alternates. I will send you a list of alternative

[2021-03-21 06:48] RahulBansal0502 opened #73 "Revamp Learn Page"
The learn Page is so static. Also, UI is not looking so good. I want to change the UI of learn page. Please assign this issue to me.

[2021-03-21 09:23] fave77 commented on #73
@RahulBansal0502 please provide a design mockup first as to how you wanna improve it

[2021-03-21 10:29] RahulBansal0502 commented on #73
![image](https://user-images.githubusercontent.com/56486309/111901414-193e3c00-8a5e-11eb-9cb3-2e1234464543.png)

I want to make this page like this. Means using the card and on hovering them they pop up. There are also two ways one is this in the above image and another is that on card only name is written like Adjournment, Algebraic and when player hover over them the card flips and information i

[2021-03-21 10:36] RahulBansal0502 commented on #73
Please assign this issue to me. I am a GSSOC participant.

[2021-03-21 11:05] fave77 commented on #73
@RahulBansal0502 This is not necessary, please suggest other alternatives.

[2021-03-21 15:52] RahulBansal0502 commented on #73
Instead of simple cards if we use glass cards and in background we use any vector image related to chess than it's look nice in my views.

[2021-03-21 16:01] fave77 commented on #73
@RahulBansal0502 Now that's a great suggestion! Please share your discord username...

[2021-03-21 16:05] RahulBansal0502 commented on #73
Rahul Bansal#8595

[2021-03-21 16:13] fave77 commented on #73
@RahulBansal0502 please include your changes only inside `Vocab` component and not `Learn` component

[2021-03-24 11:57] aanchal-fatwani opened #74 "Learn section has letter tabs without terms"
ISSUE DETAILS
Currently, the learn section has some alphabet tabs that are clickable but do not redirect to the terms with that alphabet, as there are no terms starting with that letter.
This hampers user experience as the user might think of it as a flaw wherein the alphabet is not directing to the terms.
Also, the code structure has been created by statically defining and creating links for all

[2021-03-24 11:57] aanchal-fatwani commented on #74
Hey @fave77, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-24 15:40] OmkarPh opened #75 "Addition of timer feature"
**Is your feature request related to a problem? Please describe.** :bulb:
A timer can be added beside the player that would count-down for the player who has to make current move.

**Describe the solution you'd like** :sparkles:
UI suggested by @fave77 :
![image](https://user-images.githubusercontent.com/48476025/112338793-199c3880-8ce5-11eb-9cd3-0bba0b3908c0.png)

[2021-03-24 15:42] OmkarPh commented on #75
For GSSoC`21
My discord: Omkar Phansopkar (P)

[2021-03-24 17:56] fave77 commented on #74
@aanchal-fatwani Can you elaborate on this? How you're gonna do that? Also, please share your discord username!

[2021-03-24 18:39] abhay27chauhan opened #76 "working with mongoose means working with promises"
**Is your feature request related to a problem? Please describe.** :bulb:
if you are working with mongoose, means you are working with promises. So, you need to handle promise. This is an easy fix but good for long term.

**Describe the solution you'd like** :sparkles:
I suggest instead of this:

  connect(mongoURI, {
      useNewUrlParser: true,
      useCreateIndex: true,
      useFindAndModify:

[2021-03-24 18:39] abhay27chauhan commented on #76
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-24 20:32] adi-g15 commented on #76
We may not need the .then, as we have the once handler for 'open' event, so when connected AND open for requests it will console.log
Though, yes the catch handler can help.

Also, the title of issue doesn't give anything much about the issue you are pointing, it could have been more to the point, for eg. Handle/Correct/Fix Unhandled Promise Rejection (or Failing to connect to mongodb, or the error

[2021-03-25 04:25] abhay27chauhan commented on #76
read this pls, the error handling part -
https://mongoosejs.com/docs/connections.html#:~:text=If%20initial%20connection%20fails%2C%20Mongoose,after%20initial%20connection%20was%20established.

you have handle two errors -
1. if promise is rejected  -> using the above code i have proposed
2. error after initial connection is made -> using the event handlers

[2021-03-25 07:56] aanchal-fatwani commented on #74
@fave77
For creating the links, we can improve upon the current structure to incorporate some looping mechanism based on the previously filtered result (alphabets that actually have terms corresponding to them) rather than statically typing them for all the alphabets(<a href="#A">A</a>-<a href="#B">B</a>- ...)

My discord username is Aanchal#1668

[2021-03-25 08:02] fave77 commented on #76
@abhay27chauhan you can use `try/catch` along with `async/await` for handling the initial connection error. Also, please mention your discord username.

[2021-03-25 11:06] abhay27chauhan commented on #76
discord username - abhay(P)#3950

[2021-03-25 11:26] #76 closed, assigned to abhay27chauhan

[2021-03-26 15:28] shreyadubey0902 commented on #25
can you assign this to me if it's not done yet!

[2021-03-26 16:39] fave77 commented on #25
@shreyadubey0902 please confirm whether you're a gssoc participant by sharing your discord username

[2021-03-26 16:43] shreyadubey0902 commented on #25
Yes i m a participant in gssoc21....my discord username is shreya_(P)#6485

[2021-03-28 10:30] RubenFalcao14 opened #81 "Contact us Section ."
The site does not have a contact us section. So if a person if facing any issues then he cannot report it.

I would like to add the contact us section.

[2021-03-28 10:30] RubenFalcao14 commented on #81
I'm a GSSOC'21 participant and I would love to work on it.
Thank You.

[2021-03-28 12:59] #81 closed, assigned to nobody

[2021-03-28 15:15] adi-g15 commented on #81
@RubenFalcao14 It is not actually needed, that's why this was closed. There is a already a link to github in the footer, where we manage all bug reports (this issues section).
Though thanks to your suggestion, we may be changing it from Support Us to report an issue or something similar 👍
It may not have been an issue to be worked upon, but your suggestion was considered 🙂

[2021-03-29 06:09] fave77 commented on #74
@aanchal-fatwani please provide your update on the progress

[2021-03-29 06:09] fave77 commented on #73
@RahulBansal0502 please provide your update on the progress

[2021-03-29 06:46] #75 closed, assigned to OmkarPh

[2021-03-29 12:06] #74 closed, assigned to aanchal-fatwani

[2021-03-29 14:47] #57 closed, assigned to JadeMaveric

[2021-03-29 19:45] aanchal-fatwani opened #83 "Video player extends out of visible area"
ISSUE DETAILS
Currently, the video player extends the scope of the visible area which makes it difficult to see the entire board in one go.
Also, the player overlaps the vocabulary section on some small screen sizes.

We can display the player with a size corresponding to the screen sizes.

Hey @fave77, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the i

[2021-03-29 20:04] fave77 commented on #83
@aanchal-fatwani Please provide screenshots while reporting bugs relating to UI. Having said that, my plan for **/learn** page is to render the following components - `vocab`, `videos`, `lessons` and `puzzles` by implementing [tabs](https://react-bootstrap.github.io/components/tabs/).

NOTE: The `lessons` and `puzzles` component are not yet implemented.

Considering your claimed bug regarding UI i

[2021-03-29 20:08] fave77 commented on #83
The tabs should solve the overlap issue, and as for overflowing on smaller form factor, you can make the videos component responsive accordingly.

Provide screenshots for the issue, will assign it to you then 👍🏻

[2021-03-30 19:30] vismitap commented on #73
May I try this issue as a part of GSSOC'21?

[2021-03-30 19:32] fave77 commented on #73
@vismitap can you share your discord username?

[2021-03-30 19:40] vismitap commented on #73
visp#8877

[2021-03-31 10:50] aanchal-fatwani commented on #83
@fave77 Please find the screenshots of the issue and the proposed solution.

The video player had to be scrolled to check the entire game as the player extends the scope of the visible area.
![Problem1](https://user-images.githubusercontent.com/63228776/113131852-5911da00-923b-11eb-8f82-911486e19b1b.PNG)

The player is overlapping the vocabulary section.
![Problem2](https://user-images.githubuserc

[2021-04-01 12:01] KevinZonda opened #85 "Give an option for timer and who plays first"
**Is your feature request related to a problem? Please describe.** :bulb:

Nope.

**Describe the solution you'd like** :sparkles:

Add a kind of option panel, for timer, like allow players to choose how much time the want.
Give an option for who wants to play white

**Describe alternatives you've considered** :star2:

No. I believe it will be an essential thing

**Additional context** :memo:

Nope

[2021-04-01 13:45] fave77 commented on #85
@KevinZonda are you a GSSoC'21 participant? If so, please provide your discord username!

[2021-04-02 06:28] fave77 commented on #25
@shreyadubey0902 please share your update

[2021-04-02 09:50] #71 closed, assigned to Coder-Srinivas

[2021-04-02 10:24] Coder-Srinivas opened #87 "Duplicate users are created during OAuth"
**Describe the bug** :bug:

Suppose a username is already taken, a new user with the name same as the username registers using OAuth, there would be two users, with the same username.

**To Reproduce** :mag:
Steps to reproduce the behavior:

Register a user with a username say bob. Now if a second person with the email bob@gmail.com is registering, there would be two users with the username bob.

[2021-04-02 21:29] Ananyaagupta commented on #85
i would like to work/collaborate on this issue as well my discord  username is bellatrixx#8737

[2021-04-03 06:33] fave77 commented on #85
Okay

[2021-04-03 06:51] n-coder2k opened #88 "Adding Placeholder in login and register form"
I would like to add placeholder in login form.
I am gssoc participant please assign me this issue.

[2021-04-03 07:11] fave77 commented on #88
@n-coder2k please also add placeholder on register form as well

[2021-04-03 07:36] fave77 commented on #73
@vismitap please share your update...

[2021-04-03 07:39] vismitap commented on #73
Working on it. Will complete it by today! 👍

[2021-04-03 07:45] sahildotexe commented on #83
Hey , I'm a GSSOC participant and I'm well acquainted with HTML,CS,JS and React. I would love to collaborate with @aanchal-fatwani on this issue.

[2021-04-03 09:42] KevinZonda commented on #85
Sorry, I'm not. Cheers. :)

[2021-04-03 13:28] n-coder2k commented on #88
@fave77 I am not able to find html file for login and registration form. I am new to opensource ,please help me to get that html file.

[2021-04-03 17:00] fave77 commented on #88
@n-coder2k The frontend code for this project is available inside `client` folder and we are using React for the UI. So, you won't find any .html files, except every UI components, be it header or footer, are written using JSX.

Do note that tech stack was clearly mentioned in the readme. Hence, if you're completely new to React, just get a basic understanding of the syntax (especially JSX part).

[2021-04-04 05:07] n-coder2k commented on #88
@fave77  I am completely new to React , I wont be able to do this.

[2021-04-04 06:08] JOEMN96 commented on #88
assign this issue to me !

[2021-04-04 06:31] fave77 commented on #88
Are you a GSSoC'21 participant? If yes, then provide your discord username.

[2021-04-04 08:36] Coder-Srinivas commented on #28
@fave77 Can I work on this issue?

[2021-04-04 10:28] #87 closed, assigned to Coder-Srinivas

[2021-04-04 12:28] guruc-134 commented on #88
@fave77 i want to work on this issue;
 my discord user name is : GuruCharan(P)#3851

[2021-04-04 13:00] fave77 commented on #88
Okay

[2021-04-05 07:21] #83 closed, assigned to aanchal-fatwani

[2021-04-07 11:09] apurv-1 commented on #73
@vismitap any update? It's been 4 days. Let us know if you're stuck?

[2021-04-07 12:05] apurv-1 opened #91 "Console logs exposing tokens on client."
## Issue(s)
There quite a few console logs exposing tokens from the Client on Production.

## Screenshots
![1024](https://user-images.githubusercontent.com/53378650/113863349-2d589c00-97c7-11eb-8302-5b16cff7aa5e.PNG)

## ToDo
Remove all the console logs from the Client.

[2021-04-07 12:08] apurv-1 commented on #35
@rk05-lenavo are you still interested in this?

[2021-04-07 14:19] vismitap commented on #73
I am so sorry! I tried changing the CSS but it did not look good. Glassmorphism did not look the way it should in learn page. So rolled back all the changes. I was busy with the college assignments and project so could not complete the issue. Still trying to make it look good! 😓 Please let me try for 1 more day and if I don't complete, unassign me.

[2021-04-07 14:53] sourabhkumar45 commented on #91
I would like work on this issue.

[2021-04-07 15:26] fave77 commented on #91
@sourabhkumar45 please provide your gssoc21 discord username

[2021-04-07 15:36] sourabhkumar45 commented on #91
Sourabh(P)#6334

[2021-04-07 16:15] khareyash05 opened #93 "add contributing.md"

[2021-04-07 16:15] #93 closed, assigned to nobody

[2021-04-07 16:16] khareyash05 opened #94 "add contributing.md"
Hi I would like to create a file contributing.md and add the following -
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-07 16:20] fave77 commented on #94
@khareyash05 please read `README.md` carefully before creating an issue. For your reference - [CONTRIBUTING.md](https://github.com/fave77/pbchess/blob/develop/.github/CONTRIBUTING/CONTRIBUTING.md)

[2021-04-07 16:20] #94 closed, assigned to nobody

[2021-04-07 16:57] apurv-1 commented on #73
No issues! I thought if you were stuck. Please take your time. 😀

[2021-04-08 09:56] akshatvirmani opened #96 "To add contributor's name in README.md file."
**Is your feature request related to a problem? Please describe.** :bulb:
To add contributor's name in README.md file.

[2021-04-08 09:56] akshatvirmani commented on #96
I would like to work on this issue. Kindly assign this to me.

[2021-04-09 07:02] fave77 commented on #96
@akshatvirmani For your reference - https://github.com/fave77/pbchess/issues/47

[2021-04-09 07:03] #96 closed, assigned to nobody

[2021-04-09 15:48] Sreelayavuyyuru commented on #25
I can see that there is a file named grokking_chess.md inside the Lessons folder that you mentioned. Should we make changes in the file?
I would like to work on this.

[2021-04-09 15:54] Sreelayavuyyuru commented on #35
I am interested in this, Could you please assign this to me?
My discord username is Sreelaya (P)#7527

[2021-04-09 16:15] apurv-1 commented on #88
@guruc-134 any update on this? Please feel free to reach out to us, if you face any issue.

[2021-04-09 16:24] apurv-1 commented on #88
Also @fave77, We already have labels above input fields. Having labels and placeholder both will be a little messy.
![Capture](https://user-images.githubusercontent.com/53378650/114210148-0c39ac00-997d-11eb-95cb-b768e3b9fa32.PNG)

[2021-04-10 07:28] #91 closed, assigned to sourabhkumar45

[2021-04-10 08:57] 1vivekanand commented on #49
@fave77 I would like to contribute in this issue under GSSoC'21. Please assign it to me. My discord username is Vivekanand Bhardwaj#7825

[2021-04-10 09:04] 1vivekanand commented on #25
@fave77  would like to contribute in this issue under GSSoC'21. Please assign it to me as I love playing chess. My discord username is Vivekanand Bhardwaj#7825

[2021-04-10 10:03] ShrutiOmer opened #97 "Bug in Reset Password"
**Describe the bug** :bug:
When user go for Forget Password, a window opens to Reset Password and if user didn't enter any email and click the Submit button. A window opens saying "Please wait while we send you the email", so instead of this "This field is required" message must be displayed.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to 'Play'
2. Click on 'Forgot password'
3.

[2021-04-10 10:04] ShrutiOmer commented on #97
Please assign this issue to me , I am a GSSOC participant.

[2021-04-10 10:29] fave77 commented on #97
@ShrutiOmer please share your discord username

[2021-04-10 10:49] ShrutiOmer commented on #97
Yes,
Discord user name: shruti(P)
Discord user tag: #1880

[2021-04-10 16:23] kumar-tushar opened #98 "Navigation Bar Don't Collapse in Mobile Biew"
**Describe the bug** :bug:
When you navigate to another webpage, then navigation Bar don't collapse in Mobile View.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to 'mobile view'
2. Click on 'learn'
3. Scroll down to 'bottom'
6. See an error

**Expected behavior** :honeybee:
The Navigation bar has to collapse after clicking on the nav link.

![Screenshot_2021-04-10-21-44-00-898_co

[2021-04-10 16:27] kumar-tushar commented on #98
@fave77 Excited to collaborate on this project!

[2021-04-10 16:32] kumar-tushar opened #99 "Align Content "Self-Center" of Vocabulary Section"
**Is your feature request related to a problem? Please describe.** :bulb:
The Playing rules content is not "self-aligned"

**Describe the solution you'd like** :sparkles:
I want to use the CSS class "align: self-center"

# BEFORE
![Screenshot (333)](https://user-images.githubusercontent.com/56949668/114277314-4fad1c80-9a48-11eb-8073-a134e5812764.png)

# AFTER Self-Center
![Screenshot (332)](https:

[2021-04-10 16:33] kumar-tushar commented on #99
@fave77 Excited to collaborate on this project!

[2021-04-10 16:46] guruc-134 commented on #88
@apurv-1  working on it,  sure I will reach out to you; have been caught up with assignment deadlines;
By the way, after reading your message from above; I got a doubt is this issue still valid?

[2021-04-10 16:56] fave77 commented on #98
@kumar-tushar Are you a GSSoC'21 participant? If yes, then please share your discord username!

[2021-04-10 17:00] fave77 commented on #88
@guruc-134 instead of providing labels you can have something like: `e.g. johndoe` and `e.g. Abcd1#@&` acting as placeholders for username and password.

[2021-04-10 17:00] kumar-tushar commented on #98
@fave77  Discord Username: Tushar Kumar Verma#2210

[2021-04-10 18:20] rijusougata13 commented on #99
can i work on this?

[2021-04-10 18:44] kumar-tushar commented on #99
@rijusougata13 It is already assigned

[2021-04-10 18:45] kumar-tushar commented on #99
@rijusougata13 It is already assigned

[2021-04-10 21:46] akshay1027 opened #102 "Improve Footer"
**Is your feature request related to a problem? Please describe.** :bulb:
1)Find us
2)Call us
3)Mail us
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights
10) All the above with responsive UI

[2021-04-10 21:46] akshay1027 commented on #102
I would like to work on this @fave77

[2021-04-11 08:07] #99 closed, assigned to kumar-tushar

[2021-04-11 08:10] fave77 commented on #102
@akshay1027 this is a very generic template and the whole site is supposed to be minimalistic... hence, closing it.

[2021-04-11 08:10] #102 closed, assigned to nobody

[2021-04-11 08:43] fave77 commented on #85
@Ananyaagupta please share your update on the progress

[2021-04-11 08:56] fave77 commented on #73
@vismitap update?

[2021-04-11 11:32] vismitap commented on #73
Hey so sorry to keep you guys waiting!🙁 I am really caught up with all assignments, projects and internship. I am unassigning myself on this and will claim some other issue soon in future!

[2021-04-11 12:28] #97 closed, assigned to ShrutiOmer

[2021-04-11 14:14] ShrutiOmer opened #106 "the CSS of Tooltip of Home is not looking good"
**Is your feature request related to a problem? Please describe.** :bulb:
The tooltip in Home icon must be of different color and message should be different.

**Describe the solution you'd like** :sparkles:
First, I will change the color of tooltip as it is not differentiable.
A message "Home " will be displayed if user at home.
and "Click to go Home" if user want to go back to home

![image](htt

[2021-04-11 14:20] ShrutiOmer commented on #106
Please assign this issue to me

[2021-04-11 18:39] Ananyaagupta commented on #85
yes, working on the slider.

[2021-04-12 03:29] anhushree opened #109 "Spacial arrangements and adding Icons to the Content in navbar"
**Describe the bug** :bug:
Contents in the navbar on the homepage are not arranged spacially

**Expected behavior** :honeybee:
Space between  Play Learn Login can be increased, The UI design of the navbar can be improved (can include icons for it to look visually pleasing).

**Screenshots** :camera:
![image](https://user-images.githubusercontent.com/56672958/114336364-6351a380-9b6c-11eb-97db-e4ad5

[2021-04-12 03:35] anhushree opened #110 "Adding Close button for Login/SignUp page"
**Describe the bug** :bug:
The User accidentally clicks on Login, but wants to Learn first, he finds no back or close button. Hence adding a close button `X` on the top of the Login/SignUp page will improve the User Experience

**Expected behavior** :honeybee:
The Login/SignUp pages close, on clicking the `X` button.

**Screenshots** :camera:
![image](https://user-images.githubusercontent.com/5667

[2021-04-12 07:18] #106 closed, assigned to ShrutiOmer

[2021-04-12 07:20] fave77 commented on #110
@anhushree An user can always click the `Learn` tab on the navbar!

[2021-04-12 07:20] #110 closed, assigned to nobody

[2021-04-12 07:23] fave77 commented on #109
@anhushree Can you provide a mockup first as to how you can improve it?

[2021-04-12 07:26] anhushree commented on #109
Yes sure will do it in Figma and send you the link. @fave77

[2021-04-12 09:36] fave77 commented on #109
@anhushree okay

[2021-04-12 13:27] anhushree commented on #109
https://www.figma.com/file/RLd2OE2errq9WcjxdB4t9d/pbchess?node-id=0%3A1
@fave77 Kindly check this. Let me know if there is any modification

[2021-04-12 19:32] rahulrj1 opened #111 "Chess Openings"
**Is your feature request related to a problem? Please describe.** :bulb:
I would like to add a section to pbchess learn for famous chess openings.

**Describe the solution you'd like** :sparkles:
I would like to write about some famous chess openings like Sicilian Defense, King's Gambit, Ruy Lopez, Danish Gambit and so on along with proper images and ideas behind these openings.

[2021-04-12 19:37] rahulrj1 opened #112 "About Us Page"
**Is your feature request related to a problem? Please describe.** :bulb:
I think that there should be a about us page which should contain the ideas behind this project.

**Describe the solution you'd like** :sparkles:
I want to create the about us page for pbchess

[2021-04-12 19:43] balayokesh opened #113 "Instructions to run the project is missing"
It will be hard for developers and contributors to check all the three package.json file to run the project.  Most of the contributors would be in beginner level.
So I would like to suggest to add some instructions to run the project in the README.md file

[2021-04-12 19:46] fave77 commented on #113
@yokesh004 The instructions are present in the CONTRIBUTING.md file. Please read the README.md properly before opening an issue.

[2021-04-12 19:46] #113 closed, assigned to nobody

[2021-04-12 19:49] fave77 commented on #111
@rahulrj1 Would you be interested in writing an article namely, `chess_openings.md`?
 For more details on the write-up format, please refer to the issue #25

[2021-04-12 19:50] #112 closed, assigned to nobody

[2021-04-12 20:00] fave77 commented on #109
@anhushree I prefer the Desktop-2 design! However, do not add spaces before the logo or the end of the login, just in between play and learn, learn and login.

As for icons, you can experiment with different variants, like with diff color or theme color.
Let me know your discord username for GSSoC'21, and then will assign you this issue!

[2021-04-12 20:05] fave77 commented on #88
@guruc-134 this issue should hardly take 10 mins.... please make the PR by today

[2021-04-12 20:06] rahulrj1 commented on #111
yes, I am interested.

[2021-04-12 20:38] MennaMagdy2019 opened #114 "scrollbar"
**Is your feature request related to a problem? Please describe.** :bulb:

**Describe the solution you'd like** :sparkles:
I will make a vertical scrollbar

**Describe alternatives you've considered** :star2:
I will make a vertical scrollbar as the color of the navbar, border-radius, and Box-shadow to this scrollBar

![Capture12](https://user-images.githubusercontent.com/50016070/114456964-c6c7e98

[2021-04-12 20:43] fave77 commented on #114
@MennaMagdy2019 please provide a mock-up first

[2021-04-13 04:13] MennaMagdy2019 commented on #114
before hover on the scrollbar
It will be
![befor1](https://user-images.githubusercontent.com/50016070/114499744-0a931100-9c27-11eb-8769-f0af29fd9bcd.JPG)

and after hover on the scroll bar
![afterhover](https://user-images.githubusercontent.com/50016070/114495971-5641bc80-9c1f-11eb-9f68-c4366be8ad05.JPG)

[2021-04-13 04:15] MennaMagdy2019 commented on #114
it will look nice, Can I work on this issue please @fave77?
I am a GSSOC participant,Let me know if there is any modification

[2021-04-13 04:39] MennaMagdy2019 opened #115 "Responsive Contribute Page"
**Describe the bug** :bug:
the contributor's card is not responsive in small devices

**Expected behaviour** :honeybee:
I will make it responsive on small devices by modifying  the contributor's card to be one card on the row or smalling the width of the card as you prefer

![Capture14](https://user-images.githubusercontent.com/50016070/114497480-89d21600-9c22-11eb-9bae-83a44b042c26.JPG)

Kindly c

[2021-04-13 04:43] #115 closed, assigned to nobody

[2021-04-13 05:41] anhushree commented on #109
https://www.figma.com/file/RLd2OE2errq9WcjxdB4t9d/pbchess?node-id=0%3A1
Kindly check the Desktop-2 Artboard, I have made the respective changes.

Image:
![image](https://user-images.githubusercontent.com/56672958/114502155-f233ee00-9c48-11eb-9275-8ded4e09cf0d.png)

[2021-04-13 05:41] anhushree commented on #109
Discord Username: Anhushree (P)#5454

[2021-04-13 05:45] anhushree commented on #109
sure will do it !!!

[2021-04-13 07:50] fave77 commented on #109
Do not change the position of the logo and login from the current [site](https://develop.pbchess.cf)

[2021-04-13 15:09] kumar-tushar commented on #98
@fave77  Sir, I think it is a level 3 issue because it took a lot of time to remove this bug.

#117 closes this issue

[2021-04-14 04:17] guruc-134 commented on #88
extremely sorry for the delay , have been caught up in many works { college , clubs }
thats the reason i couldnt update you with your work.

[2021-04-14 04:30] MennaMagdy2019 opened #119 "scrollToTop for contribute Page"
**Is your feature request related to a problem? Please describe.** :bulb:
Can I create ascrollTop to The top contribute page?

**Describe the solution you'd like** :sparkles:
I will create ascrollToTop of contribute page

**Additional context** :memo:
![scrollTop2](https://user-images.githubusercontent.com/50016070/114654946-89518200-9ceb-11eb-861c-58bb5540e173.JPG)

[2021-04-14 04:33] MennaMagdy2019 commented on #119
think it will look nice. Can you assign me this issue please @fave77, thank you

[2021-04-14 09:35] fave77 commented on #25
@1vivekanand update, please?

[2021-04-14 09:36] fave77 commented on #35
@Sreelayavuyyuru update, please?

[2021-04-14 10:15] Sreelayavuyyuru commented on #35
I cannot complete it, please assign it to someone else

[2021-04-14 13:10] 1vivekanand commented on #25
@fave77  May I get your discord username. I want to discuss something

[2021-04-14 14:49] fave77 commented on #25
@1vivekanand it's `fave77#0087`

[2021-04-14 18:30] rahulrj1 commented on #111
@fave77 Am I allowed to make a folder "Images" in .github/lessons/ to put the relevant images or is there any another particular location where I should put the images?

[2021-04-14 18:54] fave77 commented on #111
@rahulrj1 no need to create a folder, you can host the image on GitHub itself, check [here](https://gist.github.com/vinkla/dca76249ba6b73c5dd66a4e986df4c8d)

[2021-04-15 09:17] #111 closed, assigned to rahulrj1

[2021-04-15 16:13] #114 closed, assigned to MennaMagdy2019

[2021-04-15 23:29] kumar-tushar commented on #98
@fave77

[2021-04-16 07:05] #119 closed, assigned to MennaMagdy2019

[2021-04-16 14:32] MennaMagdy2019 opened #126 "Contributers Card"
**Describe the bug** :bug:
the contributes Card is not responsive or  does not look good on this screen

**Expected behaviour** :honeybee:
I will make each card in each row or less width each card in col which you prefer? @fave77

**Screenshots** :camera:
![Card](https://user-images.githubusercontent.com/50016070/115039663-f1ad8880-9ed0-11eb-90cf-c1511f218454.JPG)

[2021-04-16 14:32] MennaMagdy2019 commented on #126
Can I work on this bug, please? @fave77

[2021-04-16 15:25] MennaMagdy2019 opened #127 "Navbar on haver and scroll"
**Is your feature request related to a problem? Please describe.** :bulb:
Can I make background color for links on hover like this
![navbar1](https://user-images.githubusercontent.com/50016070/115047043-6e903080-9ed8-11eb-9008-4ccfc8546006.JPG)

 and I want to make a shadow for the navbar on a scroll only  as of the shadow of the contributor card like this
![navbar3](https://user-images.githubuser

[2021-04-16 16:00] MennaMagdy2019 commented on #88
Can I work on this issue, please? @fave77

[2021-04-16 16:27] MennaMagdy2019 commented on #127
Can you assign me this issue, please? @fave77
and if you prefer another style can you tell me

[2021-04-17 08:08] fave77 commented on #126
@MennaMagdy2019 make it one card a row for smaller devices and also redesign the cards without borders

[2021-04-17 08:10] fave77 commented on #126
Can you provide a mockup for such a redesign? Will assign you then!

[2021-04-17 08:18] fave77 commented on #127
@MennaMagdy2019 just make the hover for nav links

![](https://user-images.githubusercontent.com/50016070/115047043-6e903080-9ed8-11eb-9008-4ccfc8546006.JPG)

[2021-04-17 08:39] #98 closed, assigned to kumar-tushar

[2021-04-17 11:17] devRawnie commented on #88
I have created a pull request after adding the placeholders for Login and Register components.
Kindly assign me this issue and check the pull request for the same.

[2021-04-17 15:47] fave77 commented on #88
@devRawnie please share your discord username if you are a GSSoC'21 participant

[2021-04-17 16:18] #109 closed, assigned to anhushree

[2021-04-17 22:10] MennaMagdy2019 commented on #126
I removed the borders of the card but I didn't remove the box-shadow

![Card1](https://user-images.githubusercontent.com/50016070/115127913-7637fe00-9fda-11eb-9783-0368a050ef91.JPG)

and on haver
![Card2](https://user-images.githubusercontent.com/50016070/115128266-d3cd4a00-9fdc-11eb-8f06-e905c2457036.JPG)

Is it Ok or you prefer another style @fave77?

[2021-04-18 04:56] devRawnie commented on #88
Yes, I am a GSSOC'21 participant. My discord username is srohit#6275

[2021-04-18 10:02] fave77 commented on #126
@MennaMagdy2019 yes remove the border and make the box-shadow, like so:
`box-shadow: 0px 0px 20px #8299fd;`

Check for yourself which one looks better if we add box-shadow while on hover, or it should disappear while hovering

[2021-04-19 05:13] MennaMagdy2019 commented on #126
I made the card like this
without haver
![Card befor](https://user-images.githubusercontent.com/50016070/115184530-4f62f000-a0de-11eb-800a-0dd4569122fc.JPG)
on haver
![Card after](https://user-images.githubusercontent.com/50016070/115184567-5b4eb200-a0de-11eb-8aef-30f8eef4166f.JPG)

I think it looks nice
What is your opinion? Is It Ok?
and Can you assign me this issue please to make a pull request

[2021-04-19 07:05] #88 closed, assigned to devRawnie

[2021-04-19 07:10] #127 closed, assigned to MennaMagdy2019

[2021-04-19 07:21] #73 closed, assigned to nobody

[2021-04-19 10:03] tend2infinity commented on #35
Hey , I would like to work on this issue under GSSOC, please assign that to me

[2021-04-19 10:06] tend2infinity commented on #85
Hey, I would like to work on this issue under GSSOC. Please assign this to me

[2021-04-20 08:39] #126 closed, assigned to MennaMagdy2019

[2021-04-25 08:35] apurv-1 commented on #35
@tend2infinity any update on this?

[2021-04-25 14:21] adi-g15 opened #134 "OAuth refresh token expiring after 7 days"
**Describe the bug** :bug:
  After generating a refresh token, it is expiring after 7 days.
  Due to this the sendMail function fails as the refresh token (and access token) wasn't valid then.

  https://github.com/fave77/pbchess/blob/42ccc48eff4b3cfb7ea2042605c81f816ea2f4bc/server/src/services/email.service.js#L13-L32

  **To Reproduce** :mag:
  Steps to reproduce the behavior:

  1. Create a new

[2021-04-25 14:28] adi-g15 opened #135 "JWT token not expiring in provided expiryTime (1 day)"
**Describe the bug** :bug:
In [auth.service.js](https://github.com/fave77/pbchess/blob/develop/server/src/services/auth.service.js), the JWT token is issued and it's expiry is set to be 1 day, but even after a day, **the person with the old token is still able to modify profile data**.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Try to change your account info after a day (ie. afte

[2021-04-26 04:21] subhangi2731 commented on #135
please assign me this issue

[2021-04-26 04:21] subhangi2731 commented on #134
please assign me this issue

[2021-04-26 04:22] subhangi2731 commented on #28
please assign me this issue

[2021-04-26 04:23] subhangi2731 commented on #25
please assign me this issue

[2021-04-26 06:22] tend2infinity commented on #35
@apurv-1 I told some of my issues to @fave77 on discord. Hope you understand!. Still, I'm gonna work on this issue today and will make a pr tomorrow at the earliest

[2021-04-30 05:45] ASLManasa commented on #25
I am gssoc'21 Partcipant and would like to work on this. Thank you

[2021-04-30 08:18] adi-g15 commented on #25
@ASLManasa the issue is already assigned to a gssoc participant as of now. You maybe assigned if @subhangi2731 is not working on it.

[2021-04-30 08:18] adi-g15 commented on #25
@subhangi2731 Can you please give us an update on the issue ?

[2021-04-30 09:08] ASLManasa commented on #25
@adi-g15 Ok ! sure Thanks!

[2021-05-06 07:03] apurv-1 commented on #35
@tend2infinity any update?

[2021-05-07 00:33] tend2infinity commented on #35
yup @apurv-1 I just completed my end sem exams, I have already done some work earlier soo, I would just need few hours to make a new PR, please bear with me, I know it has been a long time but thank you for your patience, from now onwards I'll try to be very active!

[2021-05-07 05:03] VishalPatil18 opened #138 "Landing Page Image and navbar overlapping"
**Describe the bug** :bug:
When the page is scrolled down the image overlaps with the navbar.

**To Reproduce** :mag:
Steps to reproduce the behavior:
1. Go to the site
2. Scroll down the landing page
4. See overlapping navbar and image

**Expected behaviour** :honeybee:
It shouldn't overlap

**Screenshots** :camera:
![Screenshot 2021-05-07 at 10 28 44](https://user-images.githubusercontent.com/62

[2021-05-07 05:04] VishalPatil18 commented on #138
@MennaMagdy2019 can you assign this to me under GSSoC21?

[2021-05-07 17:01] fave77 commented on #25
@ASLManasa would be interested in working on this issue?

[2021-05-08 07:49] ASLManasa commented on #25
@fave77 yeah sure! just let me know how much content do you require!

[2021-05-08 12:10] sreetu opened #139 "Social Media icons in footer"
**Is your feature request related to a problem? Please describe.** :bulb:
Adding social media icons to the footer.

**Additional context** :memo:
Add any other context or screenshots about the feature request here.
![Screenshot (854)](https://user-images.githubusercontent.com/72204621/117538551-579ab500-b024-11eb-9bdd-53678a20f22b.png)

[2021-05-08 12:11] sreetu commented on #139
Requesting @admins to assign this issue to me.

[2021-05-08 16:18] #139 closed, assigned to nobody

[2021-05-08 16:19] fave77 commented on #25
please read the issue description

[2021-05-10 07:43] ShrutiKhatri826 commented on #49
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 10:24] ShrutiKhatri826 commented on #49
Thanks, will get back to you soon.

On Mon, May 10, 2021 at 1:20 PM Priyabrata Biswas ***@***.***>
wrote:

[2021-05-11 14:16] ASLManasa commented on #25
@fave77  I have started working will update you asap. stuck with some college work. Thanks

[2021-05-15 13:22] subhangi2731 commented on #22
@fave77 can u please assign me this

[2021-05-15 13:24] subhangi2731 commented on #135
@fave77 please assign me I can work on this

[2021-05-15 13:24] fave77 commented on #25
@ASLManasa updates please?

[2021-05-15 13:25] fave77 commented on #49
@ShrutiKhatri826 updates please?

[2021-05-15 13:25] fave77 commented on #138
@SpecTEviL updates please?

[2021-05-15 13:26] subhangi2731 commented on #35
@fave77 please assign me I will send a pr within 2 days my discord username is subhangi#9516

[2021-05-15 13:34] adi-g15 commented on #135
@subhangi2731 You are already assigned to #22. Same person will not be assigned multiple issues as of now.

[2021-05-15 13:48] ShrutiKhatri826 commented on #49
Yes, I am working on it.

On Sat, May 15, 2021 at 6:55 PM Priyabrata Biswas ***@***.***>
wrote:

[2021-05-18 01:00] tend2infinity commented on #85
Can I take this issue @fave77 ?

[2021-05-18 04:41] VishalPatil18 commented on #138
I've created a PR. Please review @fave77.
I tried 2-3 different methods but they weren't working hence had to refer to google and thus it took time.

[2021-05-18 08:56] fave77 commented on #85
@tend2infinity PR #140 needs some changes, once you do that will surely assign you!

[2021-05-18 09:08] fave77 commented on #49
@ShrutiKhatri826 please make the PR or provide proof of progress by EOD, otherwise, I will have to unassign you since writing this article should hardly take more than 4-5 hours including research.

[2021-05-18 09:09] fave77 commented on #22
@subhangi2731 updates please?

[2021-05-18 09:44] subhangi2731 commented on #22
@fave77 I am working on it will make a pr by tomorrow

[2021-05-18 10:00] ShrutiKhatri826 commented on #49
The work is almost done, I am suffering from fever, which is why it is a
bit delayed. I'll make the PR by tomorrow for sure. Will that work?

On Tue, May 18, 2021 at 2:39 PM Priyabrata Biswas ***@***.***>
wrote:

[2021-05-18 11:06] fave77 commented on #49
@ShrutiKhatri826 provide proof of progress over discord by EOD since the work is almost done and you can make the PR in a day or two

[2021-05-18 15:45] ShrutiKhatri826 commented on #49
Can I have two days time, I'll make the PR by then positively by 20th May.

[2021-05-22 13:42] Sowmya-Betina opened #143 "adding time clock"
I want to add a time clock to the platform using HTML functions and time modules to make the operations much easy to use and feasible

[2021-05-23 19:32] adi-g15 commented on #143
@Sowmya-Betina There is already a clock in the play mode as of now.

<img width="517" alt="image" src="https://user-images.githubusercontent.com/37269665/119274050-9a1adf00-bc2b-11eb-884a-ff8d29e83ce9.png">

If you wanted to add a clock to some other part, do tell us.

EDIT: Or maybe something similar to #85 ?

[2021-05-27 07:14] harshita2319 commented on #25
Hey, I'm a GSSOC participant and I'd like to work on this issue!
@fave77

[2021-05-27 07:48] #143 closed, assigned to nobody

[2021-05-27 07:51] fave77 commented on #25
@harshita2319 please make the PR by tomorrow EOD otherwise I will have to unassign you

[2021-05-27 15:53] #35 closed, assigned to tend2infinity

[2021-05-27 22:30] harshita2319 commented on #25
I've completed the article but there's already a file with that name in the lessons folder. So should I just add this content there only or create another file. If yes, then please specify the name of the file too.

[2021-05-28 10:11] #25 closed, assigned to harshita2319

[2021-05-28 17:29] tend2infinity commented on #85
hey @fave77 can I take this one now?

[2021-09-21 12:25] #138 closed, assigned to nobody

[2021-10-06 18:32] jsonpreet opened #150 "Please add env Variables Information"
Please add env Variables Information it's not easier to get all variables from files and create env file. for client and server

[2021-10-06 18:56] apurv-1 commented on #150
You can find all the resources to set up the local env [here](https://github.com/fave77/pbchess/blob/develop/.github/CONTRIBUTING/CONTRIBUTING.md#construction-setup-local-environment). Hope this helps!

[2021-10-06 19:17] jsonpreet commented on #150
Ok thank you

[2021-10-06 19:17] #150 closed, assigned to nobody

[2021-10-14 19:46] jsonpreet opened #151 "I am getting error when adding jwt keys in .env"
I am getting error when adding jwt keys in server/.env

PUBLIC_KEY=<your-rsa-public-key>
PRIVATE_KEY=<your-rsa-private-key>

What i am using

PUBLIC_KEY='-----BEGIN RSA PUBLIC KEY-----\n
MIICCgKCAgEApfUr24+SzWf3FxxCtq5LItxmn4+OqBKTTbc0LPLHHKrMMUyP9mYg\n
q5xscB+LqOWeN5MlM/sCykBuNoVyNVQJkrJ2GY/9teL+FV/+oZFuWe6OkHQVm/RX\n
8ZLbEAguclDA4gwPBF88Eb9e+mXHxnlLK8XuXinnOZjTIG2qnacmMa/ygu0GEEHt\n
2EgCDFU8r21J

[2021-10-15 14:36] fave77 commented on #151
@harpreet9629 Don't include single quotes

[2021-10-15 14:36] #151 closed, assigned to nobody